    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(-45deg, #67697C, #253D5B);
        color: #B79D94;
    }

    .quiz-container {
        width: 70%;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        margin-top: 20px;
        padding: 20px;
        border-radius: 10px;
        /* background: #0e2530; */
        background: linear-gradient(#0e2530, #253D5B);
        box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1), 5px 5px 20px rgba(0, 0, 0, 0.8);
        color: #215e65;
    }

    .question-container {
        width: 100%;
    }

    .answers-grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 20px;
        margin: 20px 0px;
    }

    .message {
        width: 80%;
        overflow-wrap: break-word;
    }

    .btn {
        align-self: center;
        justify-self: center;
        width: 310px;
        min-height: 50px;
        border-radius: 30px;
        padding: 10px;
        overflow-wrap: break-word;
        border: none;
        outline: none;
        background: #091921;
        box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 3px 3px 6px rgba(0, 0, 0, 0.8);
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        color: #6f6f6f;
    }

    .btn:hover {
        /* background: linear-gradient(-45deg,#C08497,#F7AF9D); */
        color: #636e72;
        /* box-shadow: inset -3px -3px 8px #FFA5AB, inset 3px 3px 8px #DA627D; */
        box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 3px 3px 6px rgba(0, 0, 0, 0.8), inset -3px -3px 6px rgba(255, 255, 255, 0.1), inset 3px 3px 6px rgba(0, 0, 0, 1);
        /* border-color:none */
    }

    .hide {
        display: none;
    }

    /*  */

    .question-and-point {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .question, .point, .message {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .message {
        margin: 10px 0px;
    }

    .wrong {
        color: #6f6f6f;
        ;
        text-shadow: 0 0 2px #857E7B, 0 0 2px #857E7B
    }

    .correct {
        color: #00fff1;
        text-shadow: 0 0 5px #00fff1, 0 0 15px #00fff1;
    }

    .selected {
        box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 3px 3px 6px rgba(0, 0, 0, 0.8), inset -4px -4px 6px rgba(255, 255, 255, 0.1), inset 4px 4px 6px rgba(0, 0, 0, 1);
        color: #BA2D0B;
        text-shadow: 0 0 5px #BA2D0B,
                     0 0 10px #BA2D0B;
    }

    .control {
        margin-top: 30px;
    }

    @media(max-width: 950px) {
        .quiz-container {
            height: 500px;
        }
        .answers-grid {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .answers-grid .btn {
            margin-top: 15px;
        }
        .question-container {
            width: 70%;
        }
        .question-and-point {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .question, .point {
            font-size: 20px;
        }
    }

    @media(max-width: 500px) {
        .btn {
            width: 240px;
        }
        .question, .point, .btn {
            font-size: 15px;
        }
        .point {
            margin-top: 10px;
        }
        .next-btn {
            width: 55px;
            height: 55px;
            border-radius: 50%;
        }
        #nextText {
            display: none;
        }
    }